@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Lato:wght@300;400;700;900&family=Poppins:wght@300;400;500;600;800;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body
{
    font-family: 'Poppins', sans-serif;
}

:root
{
    --main-color:#64bcf4;
    --hover-color:#5bacdf;
    --bg-color:#f1f8fc;
    --darkone:#312f3a;
    --darktwo:#45424b;
    --lightone:#919191;
    --lighttwo:#aaa;
}
.wrapper
{
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    background-color: var(--bg-color);
}


.container
{
    position: relative;
    max-width: 1300px;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding: 0 3rem;
    width: 100%;
    z-index: 10;


}

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}



.logoIMG
{
    /* border: 1px solid black; */
    width: 100px;
}


.logo-container
{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.logo-text
{
    font-size: 20px;
    margin-left: -0.2rem;
}


.nav-items
{
    display: flex;
    gap: 2rem;
    padding: 0 4em;
    margin-top: 20px;
}


.nav-items div
{
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 11px;
}

.nav-items div a
{
    color: var(--lighttwo);
    
}

.nav-items div a:hover
{
   color: var(--lightone);

}


.logo h3
{
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%,-50%); */
}


.nav-items ul
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    
}

.nav-items ul li
{
    padding: 35px;
    font-size: 1rem;
}


.nav-items ul li a
{
    color: var(--lighttwo);
    font-size: 17px;
}

.nav-items ul li a:hover
{
    color: var(--lightone);
    
}


.signup-btn
{
    
    background-color: var(--main-color);
    color: #fff;
    padding: .8rem 1.7rem;
    border-radius: 15px;
    border: none;
    margin-left: 20px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transform: .3s ease;
    font-weight: 500;


}

.signup-btn:hover
{
    background-color: var(--hover-color);
    transform: scale(1.05);
}


.hero-section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 2rem;
    /* margin: 2rem auto; */
    /* padding: 0 1rem; */
    padding-bottom: 8rem;
    
}

.hero-section-left
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    
}

.hero-section-heading
{
    font-size: 35px;
    font-weight: 500;
    color: #343d68;
}

.hero-section-description
{
    margin-top:0.5rem ;
    width: 70%;
    font-weight: 500;
}

.btn-exp
{
    background-color: var(--main-color);
    color: #fff;
    padding: .8rem 1.7rem;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transform: .3s ease;
    font-weight: 500;
    margin-top: 12px;
}

.btn-exp:hover
{
    background-color: var(--hover-color);
    transform: scale(1.05);
}

.shape
{
    position: absolute;
    top: 400px;
    left: -80px;
    /* width: 200px; */
    /* border:1px solid black; */
    opacity: 0.1;
}

.shape img
{
    width: 300px;
    z-index: -1;
}



/* right section */

.hero-section-right
{
    position: relative;
    display: flex;
    max-width: 500px;

}

.hero-section-right div
{
    width: 300px;
    /* margin-left: 100px; */
}


.hero-section-right .img1 img
{
    width: 210px;
}


.hero-section-right .img2 img
{
    width: 190px;
    margin-left: 30px;
}


.hero-section-right .animate-object-1
{
    position: absolute;
    top: -70px;
    left: 92px;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 2s infinite  alternate;
    /* transform: translate(-50% , -50%); */
}
.hero-section-right .animate-object-2
{
    position: absolute;
    bottom: 60px;
    left: -80px;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 2s infinite  alternate;
    /* transform: translate(-50% , -50%); */
}
.hero-section-right .animate-object-3
{
    position: absolute;
    bottom: 80px;
    right: -20px;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 2s infinite  alternate;
    /* transform: translate(-50% , -50%); */
}

.hero-section-right .animate-object-1 img
{
    width: 185px;
    
}
.hero-section-right .animate-object-2 img
{
    width: 150px;
    transform: skewY(3deg);
}
.hero-section-right .animate-object-3 img
{
    width: 130px;
    transform: skewY(3deg);
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}


/* media queries hero section */

@media screen and (max-width: 870px) {
    
  
    .nav-items{
      
      display: none;
    }



  
    .nav-items div {
      flex-direction: column;
    }
  
    .nav-items a {
      color: #fff;
      margin-left: 0;
      padding: 2rem 0;
    }
  
    .nav-items .signup-btn {
      background: none;
    }
  
    
  
    
  
    .hero-section{
      padding: 2.5rem 0;
      max-width: 700px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }
    

    .hero-section-left
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-section-right
    {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 300px;
        height: auto;

    }

    .img1 ,.img2{
        width: 100%;
        max-width: 300px;
        height: auto;
      }
    
    .animate-object-1
    {
        display: none;
    }

  }





  
 /* dark mode toggle button */
 :root {
    --bg-color: #fff;
    --text-color: #222;
  }
  
  [data-theme="dark"] {
    --bg-color: #222;
    --text-color: #fff;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-top: 12px;
    margin-right: 10px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 0px;
    background-color: var(--bg-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  [data-theme="dark"] .slider:before {
    background-color: #fff;
  }
  
  [data-theme="dark"] input:checked + .slider {
    background-color: #555;
  }
  
  [data-theme="dark"] input:checked + .slider:before {
    background-color: #222;
  }
  
  [data-theme="light"] .slider:before {
    background-color: #fff;
  }
  
  [data-theme="light"] input:checked + .slider {
    background-color: #2196F3;
  }
  
  [data-theme="light"] input:checked + .slider:before {
    background-color: #ccc;
  }

  

  /* features section */

  .features-section
  {
      max-width: 1200px;
      position: relative;
      /* border: 1px solid black; */
      margin-top: -50px;
      padding: 30px;
  }


  .features-heading
  {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 70px;
  }

  .features-heading .head-2
  {
      font-size: 40px;

  }

.features
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: 1px solid black; */
    place-items: center center;
    gap: 3rem;
}


.features .box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    /* border: 1px solid red; */
    border: 1px solid #F0F0F0;
    border-radius: 30px;
    padding: 30px;
    
    cursor: pointer;
    transform: 0.8s;
    
}

.features .box:hover
{
    background-color: #F8F8F8;

}

.features .box i
{
    color: var(--main-color);
    font-size: 40px;
    margin-bottom: 15px;
}

.features .box h3
{
    text-transform: capitalize;
    margin-bottom: 10px;
}

.para-heading
{
    
    margin: 15px;
    text-transform: capitalize;
}

.para-subheading
{
    color: var(--lightone);
}


@media screen and (max-width: 596px) {
    
    
    .head-2
    {
        text-align: center;
    }


    .features
    {
        max-width: 412px;
        display: flex;
        flex-direction: column;
    }
    
    

  }




/* searchbar section */


.search-section
{
   display: flex; 
   align-items: center;
   justify-content: center;
   margin-top: 70px;
   flex-direction: column;
}

.search-heading
{
    font-size: 30px;
}

.search-bar
{
    margin: 30px;
    display: flex;
    height: 55px;
    width: 500px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 30px;
    background: #fff;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.search-bar:hover input
{
    width: 400px;
}

.search-bar input
{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}


@media screen and (max-width: 596px){

    .search-heading
    {
        text-align: center;
    }


    .search-bar
    {
        width: 400px;
    }
}



/* icons section */
.icons-section
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-section .icons
{
    border: 1px solid #F0F0F0;
    text-align: center;
    /* box-shadow:  0 10px 25px rgba(0,0,0,0.3); */
    padding: 2rem;
    border-radius: 30px;
}

.icons-section .icons i
{
    color: var(--main-color);
    font-size: 40px;
    margin-bottom: 15px;
}

.icons-section .icons h3
{
    color: var(--darktwo);
}

.icons-section .icons p{
    color: var(--lighttwo);
    margin-top: 10px;
}

@media screen and (max-width: 596px)
{
    .icons-section
    {
        display: flex;
        flex-direction: column;
    }
}



/* testimonial section */

.review .review-heading
{
    text-align: center;
    font-size: 40px;
    color: var(--darktwo);
    margin-top: 50px;
    margin-bottom: 50px;
}
.review .review-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}


.review .review-container .review-box
{
    border: 1px solid #F0F0F0;
    text-align: center;
   
    padding: 2rem;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.review .review-container .review-box img
{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;

}


.review .review-container .review-box h3
{
    color: var(--bg-color);
    margin-top: 10px;
    margin-bottom: 7px;
    font-size: 23px;

}

.review .review-container .review-box .stars
{
    color: var(--bg-color);
    padding-bottom: 40px;
}


.review .review-container .review-box::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--main-color);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 13rem;
    width: 120%;
    z-index: -1;

}

@media screen and (max-width: 596px)
{
    .review .review-container
    {
        display: flex;
        flex-direction: column;
    }
}





/* doctor section */

.doctor-heading
{
    text-align: center;
    font-size: 40px;
    margin-bottom:50px;
    margin-top: 50px;
}

.doctor-section
{
    margin-bottom: 100px;
}
.doctor-section .doctor-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

}

.doctor-section .doctor-container .doctor-box
{
    border: 1px solid #F0F0F0;
    text-align: center;
   
    padding: 2rem;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
}

.doctor-section .doctor-container .doctor-box:hover
{
    background-color: #F8F8F8;
}


.doctor-section .doctor-container .doctor-box img
{
    height: 15rem;
    width: 15rem;
    object-fit: cover;
}


.doctor-section .doctor-container .doctor-box h3
{
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.doctor-section .doctor-container .doctor-box span
{
    font-size: 15px;
    font-weight: 500;

}

.doctor-section .doctor-container .doctor-box div
{
    padding-top: 20px;
    font-size: 25px;
}


.doctor-section .doctor-container .doctor-box a{
    color: #2196F3;
    margin-left: 10px;
}

.doctor-section .doctor-container .doctor-box a:hover
{
    color: #72b9e6;
}

@media screen and (max-width: 596px)
{
    .doctor-section .doctor-container
    {
        display: flex;
        flex-direction: column;
    }
}





/* booking section */

.booking-heading
{
    text-align: center;
    margin-top: 90px;
    font-size: 40px;
}
.booking-section .book-row
{
    display: flex;
    align-items: center;
    justify-content: center;

    /* flex-wrap: wrap; */
    gap: 2rem;


}



.booking-section .book-row .book-img img
{
    width: 600px;

}


.booking-section .book-row form
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1 1 45rem;
    background: var(--bg-color);
    border: 1px solid #F0F0F0;
    border-radius: 20px;
}

.booking-section .book-row form input
{
    margin: 15px;
    padding: 10px;
    outline: none;
    border-radius: 20px;
    border: 1px solid #F0F0F0;
    color: var(--lightone);
    
    
}

.booking-section .book-row form #submit
{
    cursor: pointer;
     font-size: 15px; 
     background: #64bcf4; 
     color: white; 
     font-weight: 400;
}

.booking-section .book-row form #submit:hover
{
    background: var(--hover-color);
}

.booking-section .book-row form #calender
{
    color: var(--lightone);
}


@media screen and (max-width: 596px)
{
    .booking-section .book-row
    {
        display: flex;
        flex-direction: column;
    }

    .booking-section .book-row .book-img img
    {
        width: 420px;

    }


    

}